body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Header */
  #header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  #header .header-inner {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 5px;
  }
  #header .header-inner .logo {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
  #header .header-inner .nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;

  }
  .Menu {
    display: flex;
    align-items: center;
  }
  .Menu > li {
    list-style: none;
    margin-right: 1px;
    padding: 5px;
    position: relative;
  }
  .Menu > li > a {
    text-decoration: none;
    color: #020516;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .Menu > li > a:active {
    color: #0b249e;
    text-shadow: 1px 1px;
    font-size: 14px;
  }
  .sub-menu {
    display: none;
    font-size: 17px;
  }
  .Menu > li > a:hover {
    color: #0b249e;
  }
  .Menu > li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #f4f4f4;
    padding: 10px;
    z-index: 2;
  }
  .Menu > li:hover .sub-menu li {
    border-bottom: 1px solid black;
    list-style-type: none;
  }
  .Menu > li:hover .sub-menu li a {
    min-width: 160px;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .Menu > li:hover .sub-menu li a:hover {
    color: #0b249e;
    background-color: white;
  }
  
/*css for slider*/

#slider{
    width: 100%;
    height: 600px;
    /* display: flex; */
    position: relative;
}
.slide-item{
    width: 100%;
    height: 100%;
}
.slide-item img{
    width: 100%;
    height: 100%;
}
span .fa-chevron-left{
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(300px - 15px);
    left: 10px;
    color: white;
    font-size: 30px;
}
span .fa-chevron-right{
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(300px - 15px);
    right: 10px;
    color: white;
    font-size: 30px;
}
/*css for intro*/

.list-item{
    text-align: justify;

    
}
.p1{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 400px;
    width: 747px;
    margin: auto;
}
.p2{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 736px;
    width: 747px;
    margin: auto;

}
.p3{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;

}
.p4{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;

}
.p5{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;
}
.p6{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;
}
.p7{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;
}
.p8{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;
}
.p9{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;
}
.p10{
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    position: relative;
    height: 351px;
    width: 747px;
    margin: auto;
}
.b1{
    text-align: center;
}
.p{
    font-size: 16px;
    line-height: 28.8px;
    text-decoration: none solid rgb (0, 0, 0);
    text-align: justify;
    height: 86px;
    width: 747px;
}
.text-primary{
    width: 100%;
}

#intro{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.intro-inner{
    width: 80%;
}
.intro-inner h3{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.intro-inner h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.intro-content{
    display: flex;
    justify-content: space-around;
}
.intro-content .intro-item{
    width: 28%;
    padding: 10px;
    border: 1px solid #e1e0e0;
}
.intro-content .intro-item  img{
    width: 100%;
    height: 200px;
}
.intro-content .intro-item p{
    text-align: justify;
    margin-top: 20px;
    line-height: 23px;
}
.gioithieu{
    max-width: 90%;
}
.blog{
    max-width: 100%;
}
.contenta{
    padding-right: 30px;
}
#dropdownMenuButton{
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border: #000;
    text-align: left;
  
}
.img-preview img{
    width: 50%;
}
.img-preview2{
    margin: 20px 0;
    width: 50%;
}


h4{
    font-size: 17px;
    font-weight: 600;
    color: #0b249e;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
}

h5{
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    margin: 15px 0;
}
.meta{
    display: flex;
}
.fa-folder,
.fa-clock{
    margin: 0 20px 0 10px;
}
.kc{
    margin: 0 0 0 10px;
}
.timeline{
    margin-top: 20px;
}
.content-blog{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000;
}
.blog-right{
    margin-left: 0px;
}
.form-group,
.form-select,
.submit-form{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.submit-form{
    width: 50%;
    background-color: #edb017 ;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.list-item{
    list-style-type: disc;
}
.list-item1{
    list-style-type: circle;
}
.fb-page{
    width: 100%;
}
section
{
    padding-top:1rem;
    width:100%;

}
h1{
    font-size:2rem;
    font-weight:500;
}
details[open] summary
{
    animation:both;
}
@keyframes open
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
details summary::-webkit-details-marker
{
    display:none;
}
details summary
{
    width:100%;
    padding:20px 10px 20px 10px;
    border:1px solid rgba(0, 0, 0, 0.219);
    position:relative;
    cursor:pointer;
    font-size:1.2em;
    font-weight:600;
    list-style:none;
}
details summary:after
{
    content:"+";
    color:black;
    position:absolute;
    font-size:1.75rem;
    line-height:0;
    margin-top:0.75rem;
    right:0;
    font-weight:200;
    transform-origin:center;
    transition:200ms linear;
}
details[open] summary:after
{
    transform:rotate(45deg);
    font-size:2rem;
}
details summary
{
    outline:0;
    font-size: 16px;
    font-weight: 600px;
}
details p
{
    font-size:0.95rem;
    margin:0 0 1rem;
    padding-top:1rem;
}
p,
.list-item{
    text-align: justify;

}
.p{
    border:1px solid rgba(0, 0, 0, 0.219);
    padding-left:  15px;
    padding-right: 15px;
}
.fa-grip-lines-vertical{
    color: #0b249e;
    margin-right: 10px;
}
.blog-new-content{
    text-decoration: none;
    color: #000;
    border-top: 2px #000;
    text-align: justify;
    font-size: auto;
}
.end-blog{
    padding: 0;
}
.end1{
    text-align:left ;
}
.end2{
    text-align: right;
}
.near-footer{
    padding-top: 30px;
}
.img-near-footer img{
    width: 50%;
}
.img-near-footer{
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto 0;
}
h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.near-footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-near-footer img{
    width: 90%;
}
.img-near-footer{
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto 0;
}
h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.footer{
    background-color: #0b249e;
    height: 490px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-item{
    width:90%;
    margin: auto 0;
}
.footer-content1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-align: left;
}
.fa-play{
    color: #fff;
    margin-right: 10px;
}
.list-item0{
    padding:0;
}
.list-item12{
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    text-align: left;
    line-height: 2;
}
.contacts{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.input{
    margin:  20px 0;
}