/* CSS for all */

body{
    font-family: Arial, Helvetica, sans-serif;
}
img{max-width: 100%;}
/* CSS for header */
#header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;

}
.header-inner{
    width: 80%;
    display: flex;


}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}
.nav{
    width: 80%;
    display: flex;
    align-items: center;

}
.mainmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Archivo', sans-serif;
    z-index: 10;
}
.mainmenu>li{
    margin-right: 10px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
}
.mainmenu>li>a{
    text-decoration: none;
    color: #020506;
    text-transform: uppercase;
    font-weight: 600;
}
.submenu{
    display: none;
}
.mainmenu>li>a.active{
    color: #0b249e;
    
}
.mainmenu>li:hover .submenu{
    min-width: 200px;
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #F4F4F4;
    text-decoration: none;
    padding: 0px;
    
    /* width: max-content; */
}
.mainmenu>li:hover .submenu li{
    padding: 7px;

    margin-bottom: 10px;
    /* border-bottom: 1px solid #000; */

}
.mainmenu>li:hover .submenu li a{
    text-decoration: none;
    color: #000;
    font-family: 'Archivo', sans-serif;
}
.carousel-control-prev, .carousel-control-next{
    width: 60px !important;
}

.container{
    display: flex !important;
    padding-top: 50px;
    justify-content: center !important
}
.row {
    background: rgb(80,21,88);
    background: linear-gradient(0deg, rgba(80,21,88,1) 0%, rgba(113,0,153,1) 0%, rgba(0,44,255,1) 100%);
    
}
h2, h6{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600 !important
}
h2{
    padding-top: 60px;
    margin-left: 1px;
    color: #F4F4F4;
}
h6{
    border: yellow;
}
.col {
    display: flex !important;
    justify-content: center !important;
    
}
.card{
    padding: 15px;
    
}
#container3-1{
    padding-left: 100px;
    padding-right: 100px;
}
#img-con3{
    width: 60%;
    margin-top: 170px;
}
#container3-2{
    display: flex;
    justify-content: center;
}

.col-sm-10{
    width: 100%;
    height: 100%;
}
#input-text{
    min-width: 450px;
    min-height: 30px;
    margin-top: 25px;
}
